extend ./template/_default.pug

append variable
  - const title = "Gulp Pug About";
  - const description = "Gulp Pug AboutのDEMOサイト";
  - const path = ".";
  - const pageTitle = "About Page"

block contents
  p.c-test About Contents
