extend ./template/_default.pug

append variable
  - const title = "Gulp Pug";
  - const description = "Gulp PugのDEMOサイト";
  - const path = ".";
  - const pageTitle = "Top Page"

block contents
  p.c-test Top Contents