.l-footer {
  text-align: center;
  background-image: url("../images/cat.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.l-footer__title {
  font-size: 50px;
}
